extends layout

block content
  #container.container
    .row
      .col-sm-12
        .row
          .col-sm-5
            h1 notee
          .col-sm-5
            label.control-label Filter:
            input.form-control(ng-model='query',ng-keyup='reloadNotes()')
        ul.note-list.list-unstyled
          li.line(ng-repeat='note in notes')
            .row
              .col-sm-10
                tagged-text(text='note.text')
              .col-sm-2
                a.pull-right(ng-click='deleteNote(note)',href='') delete
        input.form-control(
          ng-model='text'
          ng-keypress="$event.which === 13 ? saveNote() : null"
        )
        button.btn.btn-primary(
          ng-click='saveNote()'
        ) Save

block scripts
  script(src="/javascripts/utilities/request-transformers.js")
  script(src="/javascripts/controllers/main-controller.js")
  script(src="/javascripts/services/note.js")
  script(src="/javascripts/directives/tagged-text.js")


